name: Push to Amazon ECR

on:
  push:
    branches: ['main']
    paths: 
      - src/Dockerfile

permissions: 
  id-token: write
  contents: read    

env:
  AWS_REGION: eu-west-2                       

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials w/ OIDC
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::338235305910:role/eks-oidc
        aws-region: eu-west-2
    
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and tag image 
      id: build-image
      run: |
        cd src
        docker build -t siada/eks .
        docker tag siada/eks:latest 338235305910.dkr.ecr.eu-west-2.amazonaws.com/siada/eks:latest
        
    
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.28.0
      with:
        image-ref: 338235305910.dkr.ecr.eu-west-2.amazonaws.com/siada/eks:latest

    - name: Push to Amazon ECR
      run: |
        docker push 338235305910.dkr.ecr.eu-west-2.amazonaws.com/siada/eks:latest